@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.navbar{
   font-family: "Bebas Neue", sans-serif;
   /* font-family: "rubik", sans-serif; */

  font-weight: 400;
  font-style: normal;
}
.name{
   font-family: "Bebas Neue",sans-serif;
  font-weight: 900;
}


.project-img{
  box-shadow: 15px 15px 5px rgb(0, 0, 0);
}
.project-img:hover{
  box-shadow: 15px 15px 12px rgb(0, 0, 0);
  transition:  box-shadow 0.3s ease-in-out;
}
.boruto-img{
  box-shadow: 15px 10px 1px rgb(0, 0, 0);

}
.boruto-img:hover{
  box-shadow: 15px 15px 15px rgb(0, 0, 0);
  transition:  box-shadow 0.3s ease-in-out;
}
.connection-text{
  font-family: "Josefin Sans" , sans-serif;

}

.project-detail{
   font-family: "Josefin Sans" , sans-serif;
}