@import "tailwindcss";

.navbar{
   font-family: "Bebas Neue", sans-serif;
   /* font-family: "rubik", sans-serif; */

  font-weight: 400;
  font-style: normal;
}
.name{
   font-family: "Bebas Neue", sans-serif;
  font-weight: 600;
}
.textContentMain{
   font-family: "Bebas Neue", sans-serif;
  font-weight: 100;
}